<div class="container">
  <header class="space fw-bold d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <%= link_to root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" do %>
      <span class="gochi fs-2 fw-bold">Events-R-us</span>
    <% end %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to new_event_path, class: "btn btn-warning fw-bold shadow-pri" do %>
          UPCOMING
        <% end %>
      </li>
      <li class="nav-item ms-3">
        <%= link_to root_path, class: "btn fw-bold text-primary shadow-pri" do %>
          ALL
        <% end %>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">ABOUT</a></li>
    </ul>
  </header>
</div>